<div class="container mt-5">
	<%= simple_form_for @list do |f| %>
	<%= f.input :name %>
	<%= f.button :submit, class: "btn btn-outline-secondary" %>
	<%= link_to "Back", lists_path(@lists), :class => "btn btn-outline-secondary" %>
	<% end %>
</div>